.hyperspace-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 10000;
  overflow: hidden;
  pointer-events: none;
}

.hyperspace-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
